* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.heading {
  width: 90%;
  margin-top: 4%;
}
.my-cart {
  height: 80%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2%;
}
.items,
.pay {
  width: 48%;
  height: 90%;
  border-radius: 20px;
  box-shadow: 0 0 5px;
}

.context {
  display: flex;
  height: 10%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}
.context p {
  color: rgba(128, 128, 128, 0.829);
  text-align: center;
}
.cart-item {
  height: 90%;
  border-radius: 20px;
  text-align: center;
}
.prod_name {
  height: 5vmin;
  width: 40%;
}
.quantity,
.prod_price {
  height: 5vmin;
  width: 27.5%;
}
.quantity,
.prod_name,
.prod_price,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.item {
  width: 100%;
  height: 5vmin;
  display: flex;
  align-items: center;
}
.cart-item span {
  font-size: 1.5vw;
  cursor: pointer;
}
.close {
  color: red;
}
.pay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.coupon,
.paynow {
  height: 10%;
  width: 100%;
}
.total {
  height: 40%;
  width: 70%;
}
.coupon {
  display: flex;
  justify-content: center;
  gap: 2%;
}
#coupon-id {
  width: 50%;
  border-radius: 20px;
  text-indent: 5%;
  border: 1px solid black;
  outline: none;
  font-size: 1.2vw;
}
.apply-coupon {
  border-radius: 20px;
  background-color: rgb(50, 50, 200);
  width: 25vmin;
  border: none;
  color: #fff;
  font-size: 1.2vw;
  cursor: pointer;
}
.total div {
  display: flex;
  color: grey;
}
.name {
  width: 60%;
  display: flex;
  align-items: center;
  text-indent: 10px;
}
.sub-p {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sub-amt {
  padding-right: 5px;
}
.sub-p span {
  font-size: 1.5vw;
}
.discount,
.taxes,
.subtotal {
  height: 23%;
}
.total-price {
  height: 30%;
  font-size: 2vw;
  font-weight: 700;
}
.total-price .name {
  justify-content: flex-end;
  padding-right: 5px;
  color: black;
}
.total-price .sub-p {
  font-size: 1.5vw;
  color: black;
}
.paynow {
  width: 40%;
  height: 8vmin;
  font-size: 2vw;
  border-radius: 20px;
  border: none;
  background-color: orange;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
.razor {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.razor img {
  height: 100%;
  width: 30%;
}
.back {
  font-size: 1.6vw;
  margin-left: 5%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 770px) {
  .heading {
    margin-top: 10%;
  }

  .items,
  .pay {
    width: 100%;
    height: 45%;
  }
  #coupon-id,
  .apply-coupon {
    font-size: 2vw;
  }
}
@media (max-width: 770px) {
  .cart-item {
    font-size: 2.5vw;
  }
  .total {
    width: 80%;
    font-size: 3vw;
  }
  .total-price,
  .back {
    font-size: 4vw;
  }
  .total-price .sub-p,
  .total-price span {
    font-size: 3vw;
  }
}
