* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  font-size: 1.3vw;
  padding-top: 10px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  border-bottom: 2px solid black;
}
.logo:hover {
  opacity: 0.5;
  border: none;
}
.sidebar {
  display: flex;
  justify-content: center;
  width: 65%;
  gap: 5%;
}
#menu {
  display: none;
}
.search {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
}
.close-btn {
  display: none;
}
.logo {
  margin-right: auto;
  padding: 10px;
}
#search-bar {
  border: none;
  outline: none;
  width: 90%;
  border-radius: 10px;
  font-size: 1.2vw;
  text-indent: 5px;
  background: none;
}
.user {
  margin-right: 2%;
}
.menu-btn {
  display: none;
}
@media (max-width: 768px) {
  .sidebar{
    font-size: 2.5vw;
  }
}

@media (max-width: 430px) {
  .menu-btn {
    display: block;
    padding-right: 5px;
  }
  .close-btn {
    display: block;
    margin-right: auto;
    padding: 15px;
  }

  .sidebar {
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
    font-size: 4vw;
    border-radius: 0 0 20px 0;
    transition: 0.75s;
  }

  .search {
    width: 80%;
    background-color: #fff;
  }
  #search-bar {
    height: 100%;
    font-size: 2vw;
  }
  #menu:checked ~ .sidebar {
    right: 0;
  }
  #menu:checked ~ .overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
  }
}
